{% extends 'cp/base.html' %}
{% block header %}
<h2>Wellcome {{ user.username }} {{ user.email }} <a href="/accounts/logout">logout</a></h2>

<div class="row center">
<table class="table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>UID</th>
                <th>Topic</th>
                <th>Sent</th>
                <th>From</th>
                <th>To</th>
                <th>Read</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {% for email in emaillist %}
            <tr>
                <td><i class="material-icons {% if email.read %}green-text{%else%}gray-text{% endif %} text-darken-3">done_all</i></td>
                <td>{{ email.uid }}</td>
                <td>{{ email.topic }}</td>
                <td>{{ email.sent }}</td>
                <td>{{ email.mail_from  }}</td>
                <td>{{ email.mail_to }}</td>
                <td>{{ email.read }}</td>
                <td>{{ email.readcount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}